<footer class="container flex-grow-0 py-4 ">
    <div class="border-t border-tedWhite grid grid-cols-1 py-4 gap-y-5 md:gap-x-10 md:grid-cols-2 md:py-7">
        <div class="">
            <p class="mb-4 md:mb-6">{{ footer.site_name }}</p>
            <p> 
                {# {% if footer.address_url and footer.address_url.length > 0 %}
                    <a target="_blank" href="{{ footer.address_url }}">{{ footer.address_text | nl2br | safe }}</a>
                {% else %} #}
                    {{ footer.address_text | nl2br | safe }}
                {# {% endif %} #}
                <br/>
                <br/>
                {{ footer.cf }}
            </p>
        </div>
        <div class="flex flex-col justify-between">
            <p class="mb-4 md:mb-6"><a href="mailto:{{ footer.email }}">{{ footer.email }}</a></p>
            <div>
                {% for link in footer.links %}
                    <p> 
                        <a href="{{ link.url }}">{{ link.label }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
    
</footer>