<footer class="container flex-grow-0 flex py-4 flex-col text-center md:text-left md:flex-row">
    <div class="mb-3 md:mb-0 md:flex flex-1">
        <p>
            <span class="mr-16">TEDxCuneo</span>
            <a href="mailto:info@tedxcuneo.com">info@tedxcuneo.com</a>
        </p>
    </div>
    <p class="flex-1">p.iva ZZ28974874399237</p>
</footer>