<header class="w-full md:pt-8">
    <div class="container flex justify-between py-4 items-end" x-data="{ isOpen: false }">
        <div class="flex-0 w-52 md:mr-4"><a href="/"><img src="/assets/img/logo_white.svg" alt="TEDxCuneo logo"></a></div>
        {# <nav class="bg-tedBlack absolute top-16 right-0 left-0 p-2 text-right md:p-0 md:text-left md:flex-1 md:max-w-sm md:relative md:top-auto md:align-middle">
            <ul class="flex justify-between flex-col md:flex-row"
                :class="{ 'hidden md:flex': !isOpen }"
                @click.away="isOpen = false"
                x-show.transition="true"
            >
                <li><a href="/">Home</a></li>
                <li>Contatti</li>
                <li>Speakers</li>
                <li>Biglietti</li>
                <li>TEDx</li>
            </ul>
        </nav>
        <button
            @click="isOpen = !isOpen"
            type="button"
            class="block flex-0 text-white focus:outline-none md:hidden"
            :class="{ 'transition transform-180': isOpen }" 
        >
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
            <path
                x-show="isOpen"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
            />
            <path
                x-show="!isOpen"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            />
            </svg>
        </button> #}
    </div>
</header>