<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% set seo=page_data.seo %}
{% set slug=page_data.slug %}
{% include "seo.njk" %}
<meta name="theme-color" content="#0E0E0E">
<meta http-equiv="x-ua-compatible" content="ie=edge"/>
<style>
    @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src:
        url("/assets/font/Inter-Regular.woff2") format("woff2"),
        url("/assets/font/Inter-Regular.woff") format("woff");
    }

    @font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 700;
    src:
        url("/assets/font/Inter-Bold.woff2") format("woff2"),
        url("/assets/font/Inter-Bold.woff") format("woff");
    }
</style>
<link rel="stylesheet" href="/style/main.css?v={% version %}"/>
{% if page_data.slug=="/" %}
    <meta name="facebook-domain-verification" content="aei0k7kgeaw6u7jdd9s9oz5w0lfsdc" />
{% endif %}

<script src="/js/alpine.js?v={% version %}"></script>