<header class="header w-full pointer-events-auto absolute top-0">

    <div class="container flex py-4 justify-between items-baseline" >

        <div class="flex-0 w-40 md:w-52 xl:mr-4">
            <a href="/">
                <img src="/assets/img/tedxcuneo_logo.svg" alt="Logo TEDxCuneo svg">
            </a>
        </div>

        <p class="hidden md:block self-end">
            <span class="mr-3">seguici su:</span>
            <a class="mr-3" href="{{ settings.instagram }}" target="_blank">Instagram ↗</a>
            <a class="mr-3" href="{{ settings.facebook }}" target="_blank">Facebook ↗</a>
        </p>
    
    </div>

</header>