<header class="header w-full fixed top-0 pointer-events-auto transition-all" 
        x-data="{ 
            isOpen: false, 
            hasScrolled: false, 
            ignoreScroll: {% if page_data.layout=='layouts/partnership.njk' or page_data.layout=='layouts/joinTeam.njk'%}false{% else %}true{% endif %},
            reactOnScroll() {
                if (this.$el.getBoundingClientRect().top < 100 && window.scrollY > 100) {
                    this.hasScrolled = true;
                } else {
                    this.hasScrolled = false;
                }
            } 
        }"
        :class="{ 'z-50': isOpen, 'z-30': ! isOpen, 'bg-tedBlack': (ignoreScroll || hasScrolled || isOpen) }" 
        @resize.window="isOpen = (window.innerWidth >= 1280) ? false : isOpen"  
        x-init="$watch('isOpen', () => { isOpen ? bodyScrollLock.disableBodyScroll($refs.navbar) : bodyScrollLock.enableBodyScroll($refs.navbar)  }); reactOnScroll();"
        @scroll.window="reactOnScroll()">
    <div class="container flex py-4 justify-between" >
        <div class="flex-0 w-52 xl:mr-4">
            <a href="/">
                <img src="/assets/img/tedxcuneo_logo.svg" alt="Logo TEDxCuneo svg">
            </a>
        </div>
        <nav class="flex flex-col justify-end fixed top-16 right-0 left-0 bottom-0 p-2 xl:block xl:p-0 xl:flex-1 xl:relative xl:top-auto xl:self-end"
             :class="{ 'block': isOpen, 'hidden xl:block': !isOpen, 'bg-tedBlack': isOpen }"
        >
            <ul class="flex flex-col px-2 mb-8 md:px-12 xl:flex-row xl:justify-end xl:px-0 xl:mb-0"
                :class="{ 'hidden xl:flex': !isOpen }"
                x-ref="navbar"
            >
                {% for item in header %}
                    <li class="py-3 xl:px-4"><a href="{{item.slug}}" class="text-m_xl font-bold xl:font-normal xl:text-d_base {{ 'underline' if page_data.slug == item.slug else 'no-underline'}}">{{item.headerTitle}}</a></li>
                {% endfor %}
            </ul>
        </nav>
        <button
            @click="isOpen = !isOpen; "
            type="button"
            class="block flex-0 text-white focus:outline-none self-start xl:hidden"
        >
            <svg class="h-6 w-6 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" >
            <path
                x-show="isOpen"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
            />
            <path
                x-show="!isOpen"
                fill-rule="evenodd"
                d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            />
            </svg>
        </button>
    </div>
</header>

{% if page_data.layout=="layouts/homepage.njk" or page_data.layout=="layouts/joinTeam.njk"%}

{% endif %} 