<div class="grid grid-cols-1 mb-16 md:grid-cols-12 md:gap-x-4 md:mb-24">
    <picture class="w-full mb-6 md:mb-0 md:col-span-4">
        <source type="image/avif" srcset="{{ s.image.url }}?w=600&h=600&fit=thumb&fm=avif 1x, {{ s.image.url }}?w=900&h=900&fit=thumb&fm=avif 2x">
        <source type="image/webp" srcset="{{ s.image.url }}?w=600&h=600&fit=thumb&fm=webp 1x, {{ s.image.url }}?w=900&h=900&fit=thumb&fm=webp 2x">
        <source type="image/jpeg" srcset="{{ s.image.url }}?w=600&h=600&fit=thumb&q=80&fm=jpg 1x, {{ s.image.url }}?w=800&h=800&fit=thumb&q=80&fm=jpg 2x">
        <img class="w-full" src="{{ s.image.url }}?w=800&h=800&fit=thumb&q=60&fm=jpg" alt="Speaker {{ s.name }} {{ s.surname }}">
    </picture>
    <div class="w-full md:col-span-7 md:col-start-6 lg:col-span-6 lg:col-start-6">
        <h1 class="mb-4 md:mb-7">{{ s.name }}<br/>{{ s.surname }}</h1>
        <p class="mb-4 md:mb-7">{{ s.job }}</p>
        <div>
            {% documentToHtmlString s.description.json %}
        </div>
        {% if s.videoUrl %}
            <p class="mt-5 md:mt-7"><a class="underline text-decoration-tedRed" target="_blank" href="{{ s.videoUrl }}">Guarda il talk su YouTube ↗</a></p>
        {% endif %}
    </div>
</div>