<!DOCTYPE html>
<html lang="it">
  <head>
    {% include "head.njk" %}
    {% block head %}{% endblock %}
  </head>
  <body>


    {% if page_data.layout=="layouts/homepage.njk" %}
      {{ content | safe }} 
    {% else %}

      <div class="overflow-x-hidden">
        {% include "header.njk" %}
        <div class="flex flex-col justify-between min-h-screen">
          <main class="flex-1 flex-grow">
            {{ content | safe }} 
          </main>
          {% include "footer.njk" %}
        </div>
      </div>

    {% endif %}
    

    {% block bottom %}{% endblock %}
    
    {# <!-- Global site tag (gtag.js) - Google Analytics --> #}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179034238-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-179034238-1');
    </script>

    {# Uncomment to make Netlify identity working for new users #}
    {# {% if page_data.slug=="/" %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function(user){
            if (!user) {
              window.netlifyIdentity.on("login", function(){
                document.location.href = "/settings/";
              });
            }
          });
        }
      </script>
    {% endif %} #}
  </body>
</html>