<!DOCTYPE html>
<html lang="it" class="scroll-smooth">
  <head>
    {% include "head.njk" %}
    {% block head %}{% endblock %}
    {% if page_data.layout=="layouts/homepage.njk" or page_data.layout=="layouts/partnership.njk" or page_data.layout=="layouts/event.njk" or page_data.layout=="layouts/landingUbuntu.njk" %}
      <link rel="stylesheet" href="/assets/css/swiper.min.css" />  
    {% endif %}
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T7BLKWQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    {# different layout structure for the live page #}
    {% if page_data.layout=="layouts/live.njk" %}
        <main>
          {{ content | safe }} 
        </main>
    {% else %}

      <div class="relative">
        {% if page_data.slug=="/diventa-partner/" or page_data.slug=="/landing-ubuntu/"  %}
          {% include "header-basic.njk" %}
        {% else %}
          {% include "header.njk" %}
        {% endif %}
        <div class="flex flex-col justify-between min-h-screen pt-24">
          <main class="flex-1 flex-grow">
            {{ content | safe }} 
          </main>
          {% include "footer.njk" %}
        </div>
      </div>

    {% endif %}
    

    {# Lib for locking scroll in a right way #}
    <script src="/assets/js/scroll-lock.js"></script>    
    {# 
    Metricool tag
    <script>
      function loadScript(a){var b=document.getElementsByTagName("head")[0],c=document.createElement("script");c.type="text/javascript",c.src="https://tracker.metricool.com/resources/be.js",c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:"3bca7334c6c41c78f09fae6e02fe7006"})});
    </script> 
    #}
    {% block bottom %}{% endblock %}

    {# Uncomment to make Netlify identity working for new users #}
    {# {% if page_data.slug=="/" %}
      <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", function(user){
            if (!user) {
              window.netlifyIdentity.on("login", function(){
                document.location.href = "/settings/";
              });
            }
          });
        }
      </script>
    {% endif %} #}
  </body>
</html>