{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div class="container">

	<section class="mb-36">
		<p class="mt-9 mb-6 uppercase md:mt-16">Contatti</p>
		<h1><a class="text-decoration-tedRed break-all" href="mailto:{{ settings.email }}">{{ settings.email }} →</a></h1>	
	</section>

	<section class="mb-36">
		<p class="mt-9 mb-6 uppercase md:mt-16">Social</p>
		<h1 class="mb-8"><a class="text-decoration-tedRed" href="{{ settings.instagram }}" target="_blank">Instagram ↗</a></h1>
		<h1 class="mb-8"><a class="text-decoration-tedRed" href="{{ settings.facebook }}" target="_blank">Facebook ↗</a></h1>
		<h1><a class="text-decoration-tedRed" href="{{ settings.linkedin }}" target="_blank">Linkedin ↗</a></h1>	
	</section>
	
</div>