{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}



<div class="container relative landing-map">

	{# <img src="/assets/img/mappa_cuneo_2.png" alt="TEDxCuneo mappa" class="landing-map absolute"> #}

	<h1 class=" mt-9 mb-20 max-w-615 md:mb-28 md:mt-16">Test dev branch</h1>
	{# <h1 class=" mt-9 mb-20 max-w-615 md:mb-28 md:mt-16">{{ d.introText }}</h1> #}

	<p class="max-w-287 mb-3 md:mb-5">{{ d.introSecondaryText }}</p>

	<svg class="h-6 mb-24 md:mb-40" viewBox="0 0 13 24" xmlns="http://www.w3.org/2000/svg">
		<path fill="white" d="M2.03383e-07 17.1647L6.5 24L13 17.1647L11.8973 15.9898L7.29799 20.8264L7.29799 -2.49243e-07L5.70201 -3.19005e-07L5.70201 20.8264L1.11719 15.9898L2.03383e-07 17.1647Z" />
	</svg>

	{% set form=d.newsletterForm %}
	{% set class="mb-52" %}
	{% include "newsletter.njk" %}

	{% if d.landingFaqsCollection.items and d.landingFaqsCollection.items.length > 0 %}
		<div class="grid grid-cols-1 gap-y-20 md:gap-y-36 md:grid-cols-2 md:gap-x-10">
			{% for faq in d.landingFaqsCollection.items %}
				<div class="faq-block max-w-sm">
					{% documentToHtmlString faq.text.json %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	{% if d.ctaPartnership %}
		<div class="faq-block cta-partnership mt-40 md:w-3/4 md:mt-60">
			{% documentToHtmlString d.ctaPartnership.text.json %}
		</div>
	{% endif %}

	<div class="h-20 md:h-36"></div>

</div>
