{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div class="container">

    <div class="flex flex-row justify-between items-center py-4 mb-12">
        <a href="/"><img class="h-11" src="/assets/img/tedxcuneo_logo.svg" alt="Logo TEDxCuneo"></a>
        <img class="h-11 hidden md:block" src="/assets/img/ubuntu/logo_ubuntu_white.svg" alt="Logo ubuntu TEDxCuneo">
    </div>


    <!-- Add a placeholder for the Twitch embed -->
    <div id="twitch-embed"></div>

    <!-- Load the Twitch embed JavaScript file -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>

    <!-- Create a Twitch.Embed object that will render within the "twitch-embed" element -->
    <script type="text/javascript">
      new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: "100%",
        channel: "tedxcuneo",
        frameborder: 0,
      });
    </script>

	<div class="mt-24 mb-44 flex flex-col md:flex-row md:justify-between">
        <div class="w-full md:w-9/12">
            <div class="w-full relative h-0 overflow-hidden" style="padding-bottom: 56.25%;">
                <iframe class="absolute top-0 left-0 w-full h-full" src="https://live.top-ix.org/play/beelab/live?instancename=grandaled" allowfullscreen scrolling="no"></iframe>
            </div>
        </div>
        <div class="twitch-chat-embed" >
            {# <p class="mb-4 hidden md:block">{{ d.telegramTitle }}</p>
            <div class="">
                <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="QnfSbsV0" data-limit="4" data-height="546" data-color="FF2B06" data-colorful="1" data-dark="1"></script>
            </div> #}
            <iframe class="absolute top-0 left-0 right-0 bottom-0" src="https://www.twitch.tv/embed/tedxcuneo/chat?darkpopout&parent=localhost&parent=www.tedxcuneo.com&parent=dev.tedxcuneo.com" frameborder="0" scrolling="no" height="100%" width="100%"></iframe>
        </div>
    </div>
    
</div>