{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div 
	style="background-image: url('/assets/img/tedxcuneo_partnership.jpg')" 
	alt="TEDxCuneo partnership"
	class="absolute top-0 w-full h-750 -z-1 bg-center bg-no-repeat bg-cover sm:h-600 md:h-800">
</div>

<div class="container">
 
	<h1 class=" mt-9 mb-20 max-w-660 md:mb-28 md:mt-16">{{ d.introText }}</h1>

	<a href="#form" class="block w-40 text-center box-content uppercase no-underline font-bold text-small p-3 border-tedWhite border mb-4 md:p-4 md:text-d_base md:mb-5">{{ d.ctaText }}</a>

	<svg class="h-6 mb-24 md:mb-40" viewBox="0 0 13 24" xmlns="http://www.w3.org/2000/svg">
		<path fill="white" d="M2.03383e-07 17.1647L6.5 24L13 17.1647L11.8973 15.9898L7.29799 20.8264L7.29799 -2.49243e-07L5.70201 -3.19005e-07L5.70201 20.8264L1.11719 15.9898L2.03383e-07 17.1647Z" />
	</svg>

	{% set form=d.form %}
	{% set class="mb-52 pt-8" %}
	{% set anchor="form" %}
	{% include "partner-form.njk" %}

	{% if d.faqsCollection.items and d.faqsCollection.items.length > 0 %}
		<div class="grid grid-cols-1 gap-y-20 md:gap-y-44 md:grid-cols-2 md:gap-x-10">
			{% for faq in d.faqsCollection.items %}
				<div class="faq-block max-w-sm">
					{% documentToHtmlString faq.text.json %}
				</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="h-20 md:h-36"></div>

</div>

{% block bottom %}

<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};
	if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
	n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];
	s.parentNode.insertBefore(t,s)}(window, document,'script',
	'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '263186541806655');
	fbq('track', 'PageView');
	</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=263186541806655&ev=PageView&noscript=1"
	/></noscript>
<!-- End Facebook Pixel Code -->
	
{% endblock %}
