{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div class="container">
	<p class="mt-9 mb-6 uppercase text-tedDarkWhite md:mt-16">{{ d.pageName }}</p>
	<h1 class="mb-12 max-w-660 md:mb-16 ">{{ d.title }}</h1>
	<p class="mb-28 w-full md:w-1/2 md:mb-36">{{ d.introText }}</p>


	{% for group in d.partnersCollection.items %}
		<section>
			<h2 class="mb-6">{{ group.name }}</h2>
			{% if group.big %}
				<div class="grid mb-12 md:mb-20 gap-y-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-x-4">
			{% else %}
				<div class="grid mb-12 md:mb-20 gap-y-4 grid-cols-2 gap-x-4 md:grid-cols-3 lg:grid-cols-4">
			{% endif %}
				{% for p in group.partnersCollection.items %}
					<a 	{% if p.url %}href="{{ p.url }}" target="_blank" {% endif %}
						style="background: rgba(255, 255, 255, 0.06); padding-bottom: 66.66%" 
						class="block w-full relative rounded transition ease-in-out delay-300 duration-200 select-none md:hover:scale-105">
						{% if (p.logo.width / p.logo.height) > 1.2 %}
							{# HORIZONTAL #}
							{% set style="max-width: 80%; max-height: 80%;" %}
						{% else %}
							{# VERTICAL #}
							{% set style="max-height: 80%;" %}
						{% endif %}
						<img src="{{ p.logo.url }}"
							alt="{{p.name}} logo"
							style="{{style}}"
							class="absolute m-auto left-0 right-0 top-0 bottom-0 p-2">
					</a>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
</div>