{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div class="container">
	<p class="mt-9 mb-6 uppercase text-tedDarkWhite md:mt-16">{{ d.pageName }}</p>
	<h1 class=" mb-20 max-w-287 md:max-w-400 md:mb-28 ">{{ d.title }}</h1>

	<section>
		{% for item in d.textBlocksCollection.items %}
			<div class="grid grid-cols-1 mb-28 gap-y-4 md:grid-cols-2 md:gap-x-16 lg:gap-x-32">

				<picture>
					<source type="image/webp" srcset="{{ item.image.url }}?w=700&fm=webp 1x, {{ item.image.url }}?w=1400&fm=webp 2x">
					<source type="image/jpeg" srcset="{{ item.image.url }}?w=700&q=60&fm=jpg 1x, {{ item.image.url }}?w=1400&q=60&fm=jpg 2x">
					<img class="object-cover w-full h-full mb-12 md:mb-0" src="{{ item.image.url }}?w=700&q=60&fm=jpg" alt="alt"/>
				</picture>

				<div class="faq-block {{ 'md:order-first' if loop.index%2!=0 }} ">{% documentToHtmlStringWithLinks item.text %}</div>

			</div>
		{% endfor %}
	</section>

	{% if d.ctaTickets %}
		{% set class="mb-32 md:mb-44" %}
		{% set cta=d.ctaTickets %}
		{% include "ctaTickets.njk" %}
	{% endif %}


</div>