{# Uncomment for logging page fields avaliable #}
{# {{ d | log }} #}

<div class="container">
	<p class="mt-9 mb-6 uppercase md:mt-16">{{ d.pageName }}</p>
	<h1 class="mb-12 max-w-660 md:mb-16 ">{{ d.title }}</h1>
	<p class="mb-10 w-full lg:w-5/12 lg:mb-14">{{ d.introText }}</p>
	{% set form=d.newsletterForm %}
	{% set class="mb-28 lg:w-5/12" %}
	{% include "newsletter.njk" %}
	{% if d.ctaEvent %}
		<div class="faq-block max-w-400 mb-36 md:w-4/12">
			{% documentToHtmlStringWithLinks d.ctaEvent.text %}
		</div>
	{% endif %}
</div>