---
permalink: 404.html
layout: base.njk
eleventyExcludeFromCollections: true
---

<div class="container">

    <h1 class=" mt-9 mb-6 max-w-615 md:mb-8 md:mt-16">Pagina non trovata</h1>
    <h3 class="mb-12 md:mb-20">Siamo spiacenti, questa pagina non esiste.</h3>
    <a href="/" class="block w-40 text-center box-content uppercase no-underline font-bold text-small p-3 text-tedBlack bg-tedWhite border mb-4 md:p-4 md:text-d_base md:mb-5">torna alla home</a>
</div>


