---
pagination:
    data: pages
    size: 1
    alias: page_data
    addAllPagesToCollections: true
permalink: "{{ page_data.slug }}"
layout: base.njk
---

{% set d=page_data.content %}
{% include page_data.layout %}

