#intro-wrapper{
  min-height: 100vh;
}
#bands-wrapper{
  left: -20px;
}
.direction-block-item{
  @apply relative block bg-tedRed;
  left: -50px;
  min-height: 120px;
  width: 110vw;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.34);
  z-index: 60;
}

.-one {
  transform: rotate(7.03deg);
}
.-two {
  transform: rotate(-9.54deg);
}
.-three {
  transform: rotate(3.5deg);
}