/* if backdrop support: very transparent and blurred */
/* @supports ((-webkit-backdrop-filter: blur(7px);) or (backdrop-filter: blur(7px);) { */
    /* .header {
        background-color: rgba(0.054, 0.054, 0.054, 0.7);
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
    } */
/* } */

.event-preview-action  {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .3s ease-in-out;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#FF2B06, #FF2B06)
}

.event-preview:hover .event-preview-action {
    background-size: 100% 3px;
    background-position: 0 100%
}