#intro-wrapper{
  min-height: 100vh;
}
#bands-wrapper{
  left: -20px;
}

.landing-map-new::before {
  content: " ";
  width: 719px;
  height: 834px;
  position: absolute;
  z-index: -1;
  top: 0px !important;
  right: -200px;
  background: url("/assets/img/mappa_cuneo_empty.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.direction-block-item{
  @apply relative block bg-tedRed;
  font-size: 46px;
  white-space: nowrap;
  line-height: 68px;
  overflow-x: hidden;
  & span{
    @apply block bg-tedRed whitespace-nowrap p-4 text-center;
    min-height: 100px;
    width: 110vw;
    box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.34);
    z-index: 60;
  }
}

.-one {
  transform: rotate(7.03deg);
}
.-two {
  transform: rotate(-9.54deg);
}
.-three {
  transform: rotate(3.5deg);
}

@screen md{
  .direction-block-item{
    font-size: 64px;
    line-height: 68px;
    & span{
      min-height: 120px;
      width: 110vw;
    }
  }

  .landing-map-new::before {
    width: 1437px;
    height: 1668px;
    right: -500px;
  }
}