#intro-wrapper{
  min-height: 100vh;
}

.landing-map-home::before {
  width: 719px;
  height: 834px;
}

.direction-block-item{
  @apply relative block bg-tedRed text-center whitespace-nowrap overflow-x-hidden;
  padding: 22px ;
  font-size: 32px;
  width: 110vw;
  box-shadow: 0px 0px 2px 3px rgba(0, 0, 0, 0.34);
  z-index: 40;
  overflow-y: hidden;
}

.-one {
  left: -10px;
  transform: rotate(12.03deg);
}
.-two {
  top: -2vw;
  left: -10px;
  transform: rotate(-13.54deg);
}
.-three {
  left: -10px;
  transform: rotate(7deg);
}

@screen md{
  .-one {
    transform: rotate(7.03deg);
  }
  .-two {
    transform: rotate(-9.54deg);
  }
  .-three {
    transform: rotate(3.5deg);
  }
  .direction-block-item{
    padding: 40px;
    font-size: 54px;
  }

  .landing-map-home::before {
    width: 1437px;
    height: 1668px;
    right: -500px;
  }
}