@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src:
      url("/assets/font/Inter-Regular.woff2") format("woff2"),
      url("/assets/font/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src:
      url("/assets/font/Inter-Bold.woff2") format("woff2"),
      url("/assets/font/Inter-Bold.woff") format("woff");
}

@layer base {
  a{
    @apply underline;
  }
  html{
    @apply bg-tedBlack text-tedWhite text-m_base;
  }
  h1 {
    @apply text-m_3xl font-bold;
  }
  h2 {
    @apply text-m_2xl font-bold;
  }
  .container {
    @apply px-4 mx-auto w-full;
    max-width: 1440px !important;
  }
  @screen md{
    .container {
      @apply px-12;
    }
    html{
      @apply text-d_base;
    }
    h1 {
      @apply text-d_3xl;
    }
    h2 {
      @apply text-d_2xl;
    }    
  }
}

@layer utilities {
  .text-decoration-tedRed{
    text-decoration-color: theme('colors.tedRed');
  }
}

@layer components{
  .landing-map::before{
    content: ' ';
    width: 1437px;
    height: 1668px;
    position: absolute;
    z-index: -1;
    top: -1000px;
    right: -500px;
    background: url('/assets/img/mappa_cuneo_2.png');
    background-repeat: no-repeat;
  }
  .faq-block a {
    @apply text-decoration-tedRed;
  }
  .faq-block > * {
    min-height: theme('fontSize.m_base.1.lineHeight')
  }
  .faq-block:first-child {
    margin-bottom: theme('fontSize.m_2xl.1.lineHeight')
  }
  @screen md{
    .faq-block > p {
      min-height: theme('fontSize.d_base.1.lineHeight')
    }
    .faq-block > h2:last-child {
      margin-bottom: theme('fontSize.d_2xl.1.lineHeight')
    }
    .landing-map::before{
      top: -380px;
      right: -480px;
    }
  }
}

